<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>eXpen</title>
    <link rel="stylesheet" href="/css/pocetni.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">

    </header>
    <div class="splash-wrapper">
      <div id="logo-eXpen">
        <img src="/css/logo_coin.png" alt="eXpen logo" width="200" height="200">
        <div id="naziv-eXpen">
          <p>e<span id='naziv-eXpen-span'>X</span>pen</p>
        </div>
        <hr id="horizontal-line">
      </div>


    </div>
  </body>
</html>
